p,
h1,
h2,
h3,
h4 {
  font-family: "Barlow", sans-serif;
}
html {
  background-color: #f7f8fc;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
body {
  display: grid;
  grid-template-rows: 1fr 4fr 3fr 3fr 2fr 1fr;
}

#navbar {
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}
#navbar-title {
  grid-column-start: 1;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
#navbar-message {
  grid-column-start: 3;
  text-align: right;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

#calltoaction {
  grid-row-start: 2;
  margin: 0 auto;
}

#calltoaction > h1 {
  margin-left: 330px;
  margin-right: 330px;

  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 84px;
  text-align: center;

  color: #000000;
}
#calltoaction > p {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  /* Gray 2 */

  color: #4f4f4f;
}

#description {
  grid-row-start: 3;
  margin: 0 auto;
  width: 476px;
}

#description > h3 {
  width: 93px;
  height: 19px;
  left: 482px;
  top: 948px;

  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

#description > p {
  line-height: 32px;
  font-size: 16px;
  font-weight: 500px;
  font-style: normal;
}
#students {
  grid-row-start: 4;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
}

#students > h1 {
  text-align: center;
  margin-bottom: 40px;
}
#students > div {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  /* margin: 10px; */
  width: 250px;
  height: 250px;
  background-color: white;
  margin: 0 auto;
}

.card > img {
  margin: 0 auto;
}

.card > p {
  margin: 20px;
}

#contact {
  grid-row-start: 5;
  margin: 100px auto;
}

#contact > * {
  text-align: center;
  /* margin-left: 470px;
  margin-right: 470px; */
}

#contact > h1 {
  margin-left: 470px;
  margin-right: 470px;
  width: 498px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

#contact > p {
  margin-left: 470px;
  margin-right: 470px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4f4f4f;
  width: 459px;
}

#contact > a {
  background-color: #10182f;
  display: block;
  margin: auto;
  width: 80px;
  padding: 20px 80px;
  text-decoration: none;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f2f2f2;
  border-radius: 4px;
}

#contact > form {
  margin: 0 auto;
}

#footer {
  grid-row-start: 6;
  margin: 0 auto;
}

#footer > p {
  text-align: center;
}

.cofounder {
  display: inline;
  margin: 0px 65px;
}
.cofounder > a {
  text-decoration: none;
  color: #000000;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
