p,
h1,
h2,
h3,
h4 {
  font-family: "Khula", sans-serif;
}
html {
  background-color: #f7f8fc;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}
body {
  height: auto;
  /* this is the same as grid-template-columns: 1fr 1fr 1fr 1fr; */
  max-width: 100%;
  overflow-x: hidden;
}

#logo {
  max-width: 20%;
  padding: 1rem;
}

#grid {
}

#navbar {
height: 10vh;
}

#navbar-title {
  font-weight: bold;
  font-size: 16px;
  color: #171717;
  padding-left: 50px;
  float: left;
}

#navbar-message {
  font-weight: 500;
  font-size: 16px;
  color: #171717;
  position: relative;
  text-align: right;
  float: right;
  padding: 1rem 1.5rem;
}

#calltoaction {
  margin: auto;
  /* height: 100vh; */
}

#calltoaction > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 84px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;

}
#subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-align: center;

  /* Gray 2 */
  color: #4F4F4F;
}

#notify-div {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 80px;
  justify-content: center;
  align-items: center;
}

#notifysubtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #171717;
  top: 124px;
}

#description {
  width: 35vw;
  position: relative;
  margin: 0 auto;
  bottom: 10vh;
}

#description > h3 {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  /* Gray 2 */

  color: #4F4F4F;
}

#description > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  color: #000000;
}

#students {
  width: 80vw;
  position: relative;
  margin: 0 auto;
  top: 10vh;
}

#students > h1 {
  font-family: Khula;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
}
#students > div {
}

.card {
  width: 300px;
  height: 300px;
  left: 0px;
  top: 0px;
  display: block;
  background: #FEFEFE;
  border-radius: 10px;
}

.card-container {
  display: inline-block;
  padding: 10px;
  width: 30%;
}

.card > img {
  margin: 0 auto;
}

.card > p {
  margin: 20px;
}

#contact {
  margin: 100px auto;
  position: relative;
  padding-top: 5vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#contact > * {
  text-align: center;
  /* margin-left: 470px;
  margin-right: 470px; */
}

#contact > h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
}

#contact > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 50%;
  margin: auto;
  line-height: 20px;
  padding-bottom: 25px;
  /* Gray 2 */

  color: #4F4F4F;
}

.notifybutton {
  background-color: #10182f;
  display: block;
  margin: auto;
  width: 80px;
  padding: 15px 50px;
  text-decoration: none;
  font-family: Khula;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f2f2f2;
  border-radius: 4px;
}

#footer {
  margin: 0;
  padding-bottom: 20px;
  height: 122px;
}

.divider {
  border: 1px solid #E0E0E0;
  width: 90%;
  display: block;
  margin: auto;
}

#cofounder-title {
  font-weight: 600;
  text-align: center;
}

#footer > p {
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #10182f;
}

.cofounder {
  display: inline;
  margin: 0px 40px;
  font-weight: 500;
  color: #4F4F4F;
}
.cofounder > a {
  color: #4F4F4F;
  text-decoration: underline;
}

#cofounders {
  text-align: center;
}

#cofounder-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Grow */
.hvr-grow {
    display: block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }
  .grid {
    position: absolute;
  }

  #navbar {
    height: 10vh
  }

  #navbar-title {
    padding-left: 0px;
  }

  #navbar-message {
    padding: 0;
  }

  #calltoaction > h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

  #subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-left: 25px;
    margin-right: 25px;
  }

  #notify-div {
    height: 300px;
    width: 300px;
    top: 40px;
  }

  #description {
    width: 100%;
    margin: 8px;
  }

  #description > h3 {
    text-align: center;
  }

  #students {
    top: 0vh;
  }

  .card-container {
    display: block;
    padding: 10px;
    width: 80%;
    margin: auto;
  }

  #contact {
    margin: 50px auto;
    padding-top: 0vh;
  }

  #contact > p {
    width: 100%;
    padding-bottom: 16px;
  }

  #footer {
    height: 80px
  }

  #cofounder-container {
    width: 100%;
    padding-top: 0;
  }

  .cofounder {
    margin: 0;
  }

  .divider {
    width: 100%;
  }
